.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: start;
  margin-top: 3rem;
  margin-bottom: 1.5rem;
}

.selection__button__wrap {
  display: flex;
  gap: 0.5rem;

  button {
    padding: 6px 25px;
    font-size: 1rem;
    line-height: var(--button-line-height);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: var(--button-text-weight);
    border-radius: var(--button-radius-border);
    text-decoration: var(--button-text-decoration);
    transition: all 0.25s;
  }
}

.active__button {
  background-color: var(--color-primary);
  color: var(--button-text-color-primary);
}

.button__not__active {
  &:hover {
    color: var(--color-primary);
  }
}

.active__content {
  display: flex;
}

.content__not__active {
  display: none;
}
