.content__wrap {
  display: flex;
  flex-direction: column;
  min-height: min-content;
  width: 100%;
}

.row__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  gap: 2.9rem;
}

.image__container {
  width: 50%;
  height: 50%;
  display: block;
  margin-bottom: var(--gap-content);
  flex: 0 0 50%;
  order: 1;

  .image {
    width: 100%;
    height: 100%;
  }
}

.content__container {
  display: block;
  width: 50%;
  height: 100%;
  gap: var(--gap-content);
  flex: 0 0 50%;
  order: 2;

  &.row__reverse {
    order: -1;
  }

  .pre__title {
    font-weight: var(--font-section-title-weight);
    font-size: var(--font-size-small-title);
    margin-bottom: var(--gap-content);
  }
  .title {
    font-weight: var(--font-section-title-weight);
    font-size: var(--font-size-small-title);
    margin-bottom: var(--gap-content);
  }

  .paragraph {
    font-size: 1em;
    font-weight: var(--paragraph-font-weight);
    line-height: var(--paragraph-line-height);
  }
}
