.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-left: var(--padding-page-hz);
  padding-right: var(--padding-page-hz);
  flex-direction: column;
}
