.field__container {
  display: flex;
  flex-direction: column;
  min-height: min-content;
  justify-content: start;
  width: 100%;
  gap: 0.2em;
  margin-top: var(--gap-content);
  margin-bottom: var(--gap-content);
}

.input__box {
  position: relative;
  width: auto;

  .regular__input:focus ~ span {
    color: var(--color-button-hover);
  }

  .valid__field ~ span,
  .regular__input:focus ~ span {
    transform: translateX(10px) translateY(-6px);
    font-size: 0.88rem;
    padding: 0 10px;
    background-color: var(--color-green-bg);
  }

  .got_error__input ~ span,
  .got_error__input:focus ~ span {
    color: var(--color-error);
  }
}

.label {
  position: absolute;
  left: 0;
  top: 0;
  padding: 13px 8px;
  pointer-events: none;
  font-size: 1rem;
  color: #888888;
  transition: 0.3s;
}

.regular__input {
  border-radius: 4px;
  background-clip: padding-box;
  width: 100%;
  outline: none;
  border: 1px solid var(--color-grey);
  background-color: transparent;
  padding: 6px;
  height: 2.5rem;
  font-size: 16px;
  color: #ffffff;
  transition:
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  &:focus {
    border-color: var(--color-button-hover);
  }

  &::placeholder,
  textarea::placeholder {
    font-size: 16px;
    color: #888888;
    opacity: 1 !important;
  }

  &:-moz-placeholder {
    color: #888888;
    opacity: 1 !important;
  }
}

.text__area {
  padding: 6px;
  resize: vertical;
  font-size: 16px;
  line-height: 20px;
}

.select {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  font-size: 16px;
  color: #ffffff;
  background: url('/images/icons/expand-arrow-icon.png') calc(100% - 10px)
    center/15px no-repeat transparent;
  display: block;

  option[value=''][disabled] {
    display: none;
  }

  option {
    color: #000000;
  }
}

.error_message__wrap {
  margin-top: 0.3em;
}

.got_error_message {
  color: var(--color-error);
  font-size: 0.9rem;
}

.got_error__input {
  border-color: var(--color-error);

  &:focus {
    border-color: var(--color-error);
  }
}
