.section {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  margin: 0 auto;
  width: 100%;
  height: auto;
  min-height: 100%;
  padding-top: var(--section-padding-vertical);
  padding-bottom: var(--section-padding-vertical);
  padding-left: var(--page-padding-horizontal);
  padding-right: var(--page-padding-horizontal);
  flex-direction: column;
}
