.nav__links {
  position: relative;
  color: var(--color-link-text);
  text-decoration: none;
  font-weight: var(--font-weight-nav-links);
  font-size: var(--font-size-nav-links);
  cursor: pointer;

  &:hover {
    color: var(--color-primary);
  }

  @media screen and (max-width: var(--md-size)) {
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
    display: flex;
  }
}
